.header {
  background-color: #39423a;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.header__nav {
  width: 100%;
  max-width: 1200px;
}

.header__menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.header__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

/* Hover chỉ hiện gạch dưới */
.header__link:hover::after {
  width: 100%;
}

/* Active link: tô màu nhưng KHÔNG underline */
.header__link.active {
  color: #d4b76a; /* vàng nhạt nhẹ sang trọng */
}

.header__link.active::after {
  width: 0; /* không hiện underline khi active */
}
